* {
    display: block;
}

students {
    padding-bottom: 1vh;
}

student-1, student-2, student-3 {
    margin: 4%;
    float: left;
    width: 20%;
    border: 1px solid;
    padding: 2%;
}

student-1 {
    border: 5px solid darkturquoise;
}

student-2 {
    border: 7px solid darkcyan;
}

student-3 {
    border: 5px solid darkseagreen;
}

USN {
    color: #337FFF;
}

Name {
    font-family: Raleway, sans-serif;
    font-size: 4vh;
    text-transform: capitalize;
}

College {
    text-transform: uppercase;
}

Branch {
    color: darkcyan;
}

YearOfJoining {
    float: right;
    font-family: 'Nunito', sans-serif;
}

/* Extra Program CSS Starts */
passengers {
    padding-bottom: 1vh;
}

passenger-1, passenger-2, passenger-3, passenger-4, passenger-5 {
    margin: 4%;
    float: left;
    width: 20%;
    border: 1px solid;
    padding: 2%;
}

passenger-1 {
    border: 5px solid darkcyan;
}

passenger-2 {
    border: 7px solid darkturquoise;
}

passenger-3 {
    border: 5px solid darkgoldenrod;
}

passenger-4 {
    border: 5px solid darkred;
    margin-left: 15%;
}

passenger-5 {
    border: 5px solid darkmagenta;
    margin-left: 15%;
}

Airlines {
    margin-top: 5%;
    text-transform: uppercase;
}

Passport {
    font-size: 5vh;
    font-family: 'cursive', sans-serif;
    margin-bottom: 7%;
}

Visa {
    color: darkcyan;
}

Address {
    float: right;
    font-family: 'Nunito', sans-serif;
}

/* Extra Program CSS Ends */
